.ChatBody::-webkit-scrollbar {
    width: 2px;
}

.ChatBody::-webkit-scrollbar-track {
    background: rgb(45 60 63);
}

.ChatBody::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

.HolderOfusersChat::-webkit-scrollbar {
    width: 2px;
}

.HolderOfusersChat::-webkit-scrollbar-track {
    background: rgb(45 60 63);
}

.HolderOfusersChat::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}