.playonline-bg-gradient {
    background: #FFCD3E;
}
.ai-bg-gradient {
    background: #6E9AC9;
}
.playfriend-bg-gradient {
    background: #92C2C8;
}
.tournm-bg-gradient {
    background: #DC5E61;
}

/* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */

.main-color-gradient {
    background: linear-gradient(180deg, #676767 0%, rgba(22,28,32,1) 100%);
}

.spiner {
    border-width: 2px;
    border-color: black  transparent transparent transparent;
    animation: spin .5s linear infinite;
}
.spiner-settings {
    border-width: 2px;
    border-color: #ffffff  transparent transparent transparent;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.player1-score-gradient {
    border-right: 1px solid #161c20;
    background: linear-gradient(90deg, #161c20 10%, #CD7F32 100%);
}
.player2-score-gradient {
    border-left: 1px solid #161c20;
    background: linear-gradient(270deg, #161c20 10%, #A0B2C6 100%);
}

@keyframes opacity-range {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.animated-bg {
    animation: opacity-range 2s ease-in-out infinite;
}