.playonline-bg-gradient {
    background: #FFCD3E;
}
.ai-bg-gradient {
    background: #6E9AC9;
}
.playfriend-bg-gradient {
    background: #92C2C8;
}
.tournm-bg-gradient {
    background: #DC5E61;
}

/* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */

.main-color-gradient {
    background: linear-gradient(180deg, #676767 0%, rgba(22,28,32,1) 100%);
}

.spiner {
    border-width: 2px;
    border-color: black  transparent transparent transparent;
    animation: spin .5s linear infinite;
}
.spiner-settings {
    border-width: 2px;
    border-color: #ffffff  transparent transparent transparent;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}