.divDico::after {
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    background: #ffffff00;
    top: 13px;
    right: 15px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-1deg);
}

.divDico::before {
    content: "";
    width: 21px;
    height: 2px;
    display: block;
    position: absolute;
    background: white;
    top: 21px;
    right: 13px;
    transform: rotate(132deg);
}


@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes cercal_effect {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
}
  
.cercal_effect {
    --color: hsl(202, 21%, 10%);
    background: conic-gradient(
      transparent var(--angle),
      var(--color) calc(var(--angle))
    );
    animation: cercal_effect 2s ease-in-out forwards;
}