.divDico::after {
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    background: #ffffff00;
    top: 13px;
    right: 15px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-1deg);
}

.divDico::before {
    content: "";
    width: 21px;
    height: 2px;
    display: block;
    position: absolute;
    background: white;
    top: 21px;
    right: 13px;
    transform: rotate(132deg);
}