

.btn-sub-about::before {
    content: "";
    display: block;
    width: 13px;
    right: -12px;
    background: #faebd700;
    height: 13px;
    top: 2px;
    border-top: 2px solid;
    border-right: 2px solid;
    position: relative;
    transform: rotate(45deg);
}

.btn-sub-about::after {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    background: black;
    position: relative;
    top: -5px;
    right: 9px;
}