
.login-container {
    width: 460px;
    background: red;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #626262;
    border-radius: 7px;
}

.header img {
    width: 97px;
    margin: auto;
    padding-bottom: 41px;
}

.login-container .inputs input {
    border: 1px solid #626262;
    outline: none;
    background-color: red;
    width: 364px;
    height: 58px;
}

