
@keyframes slide-in {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.slide-in {
    animation: slide-in 1s forwards;
}
/* .anm300ms {
    animation: slide-in 0.3s forwards;
} */