.scrollbar-w {
    scrollbar-width: none;
}

.search-res-card {
    /* border-width: 1px;
    border-color: transparent transparent #636363 transparent; */
    background: linear-gradient(180deg, rgba(22,28,32,1) 0%, #6e6e6e 100%);
}
