@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #161C20;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg-color);
}


.wins::before {
    content: "";
    width: 20px;
    display: block;
    height: 20px;
    background-color: #ffcb61;
    border-radius: 100%;
    position: absolute;
    left: -35px;
    top: 9px;
}

.losses::before {
    content: "";
    width: 20px;
    display: block;
    height: 20px;
    background-color: #A8293F;
    border-radius: 100%;
    position: absolute;
    left: -35px;
    top: 9px;
}

.draws::before {
    content: "";
    width: 20px;
    display: block;
    height: 20px;
    background-color: #8374D1;
    border-radius: 100%;
    position: absolute;
    left: -35px;
    top: 9px;
}

:root {
    --total: 14;
    --yellow-part: 10;
    --red-part: 3;
    --purple-part: 1;
}

/* .StatisticsChart {
    background: conic-gradient(
        #ffcb61 0% calc(10 / 14 * 100%),
        #A8293F calc(10 / 14 * 100%) calc(13 / 14 * 100%),
        #8374D1 calc(13 / 14 * 100%) 100%
    );
} */

.trendup-icon::after {
    background: url(/src/assets/imgs/trend-up.svg) 0 0 no-repeat;
    content: '';
    padding: 0 0 0 21px;
    position: relative;
    top: -3px;
}

.trendup-icon-white::after {
    background: url(/src/assets/imgs/trend-up-white.svg) 0 0 no-repeat;
    content: '';
    padding: 0 0 0 21px;
    position: relative;
    top: 0px;
}

.trendup-icon-profile::after {
    background: url(/src/assets/imgs/trend-up-black.svg) 0 0 no-repeat;
    content: '';
    padding: 0 0 8px 35px;
    position: relative;
    top: -3px;
}

.activeuser {
    content: "";
    position: absolute;
    width: 12px;
    border-radius: 47px;
    height: 12px;
    background: #00FF00;
    top: 33px;
    left: 35px;
}

.notactiveuser {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #808080;
    border-radius: 47px;
    top: 33px;
    left: 35px;
}

.friends-list::-webkit-scrollbar {
    width: 2px;
}

.friends-list::-webkit-scrollbar-track {
    background: rgb(45 60 63);
}

.friends-list::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

.HistoryContainer::-webkit-scrollbar {
    width: 2px;
}

.HistoryContainer::-webkit-scrollbar-track {
    background: rgb(45 60 63);
}

.HistoryContainer::-webkit-scrollbar-thumb{
    background: #f1f1f1;
}


  


